

header {
    font-size: 1.5em;
    color: gray;
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

#Gegner {
    text-align: center;
    width: 99.5%;
    height: 15em;
    background-color: rgba(0, 0, 0, 0.63);
    position: relative;
    border-radius: 2%;
    border-width: 5px;
    border-color: black;
    box-shadow: 0 1px 20px rgb(255, 0, 0);
    overflow: auto;
}

#Ziehen {
    text-align: center;
    width: 190px;
    height: 15em;
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-left: 10%;
    border-radius: 10%;
    border-width: 5px;
    border-color: black;
    box-shadow: 0 1px 20px rgb(255, 238, 0);
    float: left;
    margin-top: 2%;
    overflow: auto;
}
div #Ablagestapel {
    position: absolute;
    }

#Ablegen {
    text-align: center;
    width: 190px;
    height: 15em;
    background-color: rgba(0, 0, 0, 0.144);
    position: relative;
    margin-right: 10%;
    border-radius: 10%;
    border-width: 5px;
    border-color: black;
    box-shadow: 0 1px 20px rgb(255, 238, 0);
    float: right;
    margin-top: 2%;
    overflow: auto;
}



#Eigene {
    text-align: center;
    width: 99.5%;
    height: 33em;
    background-color: rgb(0, 0, 0);
    position: relative;
    border-radius: 2%;
    border-width: 5px;
    border-color: black;
    box-shadow: 0 1px 20px rgb(0, 60, 255);
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: auto;

    
    
}

button {
    max-width: 35%;
	max-height: 38%;
    margin-left: 0%;
    margin-top: -10%;
    transform: rotate(90deg);
}


img {
    margin-top: 0.5em;
    max-width: 80%;
    max-height: 90%;
    image-orientation: from-image;
    margin-left: 2%;
    border-radius: 5%;
    border-style: solid;
    border-color: black;
}


